<template name="ticket">
  <div class="{{#if getIsOld}}red{{else}}blue{{/if}} card">
    <div class="content">
      <i class="right floated {{#if getIsOld}}warning{{else}}star{{/if}} icon"></i>
      <div class="header">
        {{moFrom getCreatedAt moNow}}
      </div>
      <div class="description">
        <div class="ui divided list">
          {{#each items}}
            {{> ticketItem}}
          {{/each}}
        </div>
      </div>
    </div>
    {{#if cleared}}
    <div class="ui bottom attached button" data-action="recall-ticket">
      <i class="plus icon"></i>
      Recall
    </div>
    {{else}}
    <div class="ui bottom attached button" data-action="clear-ticket">
      <i class="remove icon"></i>
      Clear
    </div>
    {{/if}}
  </div>
</template>
